.section {
    /* margin-left: -2rem;
    margin-right: -2rem; */

    /* margin-top: -2.2rem; */
    margin-bottom: 2rem;

    width:100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    /* Additional styling for the section */
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from: #f9fafb var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(249 250 251 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #fff var(--tw-gradient-to-position);
}

.container {
    margin: 0 auto;
    max-width: 76rem; 
    padding: 0 1rem;
}

